* text=auto !eol
src/main/assembly/assembly-bundle.xml svneol=native#text/plain
src/main/bundle/LICENSE.txt svneol=native#text/plain
src/main/bundle/README.txt svneol=native#text/plain
src/main/etc/header.txt svneol=native#text/plain
src/main/java/it/openutils/hibernate/example/ExampleTree.java svneol=native#text/plain
src/main/java/it/openutils/hibernate/example/ExampleTreeUtils.java svneol=native#text/plain
src/main/java/it/openutils/hibernate/example/FilterMetadataSupport.java svneol=native#text/plain
src/main/java/it/openutils/hibernate/paging/PaginatedResult.java svneol=native#text/plain
src/main/java/it/openutils/hibernate/paging/PaginatedResultImpl.java svneol=native#text/plain
src/main/java/it/openutils/hibernate/paging/PaginatedResultUtils.java svneol=native#text/plain
src/main/java/it/openutils/hibernate/selectors/ExcludeBackrefPropertySelector.java svneol=native#text/plain
src/site/apt/configuration.apt svneol=native#text/plain
src/site/apt/index.apt svneol=native#text/plain
src/site/changes/changes.xml svneol=native#text/plain
src/test/java/it/openutils/hibernate/example/ExampleTreeUtilsTest.java svneol=native#text/plain
src/test/java/it/openutils/hibernate/test/EntityBuilder.java svneol=native#text/plain
src/test/java/it/openutils/hibernate/test/HibernateDAOFilterMetadataTest.java svneol=native#text/plain
src/test/java/it/openutils/hibernate/test/HibernateDAOFindIdentifierTest.java svneol=native#text/plain
src/test/java/it/openutils/hibernate/test/HibernateDAOHierarchyTest.java svneol=native#text/plain
src/test/java/it/openutils/hibernate/test/HibernateDAOLazyLoadTest.java svneol=native#text/plain
src/test/java/it/openutils/hibernate/test/HibernateDAOPersistenceTest.java svneol=native#text/plain
src/test/java/it/openutils/hibernate/test/dao/BarDAO.java svneol=native#text/plain
src/test/java/it/openutils/hibernate/test/dao/CarDAO.java svneol=native#text/plain
src/test/java/it/openutils/hibernate/test/dao/CarMakerDAO.java svneol=native#text/plain
src/test/java/it/openutils/hibernate/test/dao/FooDAO.java svneol=native#text/plain
src/test/java/it/openutils/hibernate/test/dao/PersonDAO.java svneol=native#text/plain
src/test/java/it/openutils/hibernate/test/dao/StickerDAO.java svneol=native#text/plain
src/test/java/it/openutils/hibernate/test/model/Address.java svneol=native#text/plain
src/test/java/it/openutils/hibernate/test/model/Bar.java svneol=native#text/plain
src/test/java/it/openutils/hibernate/test/model/Car.java svneol=native#text/plain
src/test/java/it/openutils/hibernate/test/model/CarMaker.java svneol=native#text/plain
src/test/java/it/openutils/hibernate/test/model/CarModel.java svneol=native#text/plain
src/test/java/it/openutils/hibernate/test/model/CurrencyAmount.java svneol=native#text/plain
src/test/java/it/openutils/hibernate/test/model/Designer.java svneol=native#text/plain
src/test/java/it/openutils/hibernate/test/model/Employee.java svneol=native#text/plain
src/test/java/it/openutils/hibernate/test/model/Foo.java svneol=native#text/plain
src/test/java/it/openutils/hibernate/test/model/FullName.java svneol=native#text/plain
src/test/java/it/openutils/hibernate/test/model/Owner.java svneol=native#text/plain
src/test/java/it/openutils/hibernate/test/model/Person.java svneol=native#text/plain
src/test/java/it/openutils/hibernate/test/model/Sticker.java svneol=native#text/plain
src/test/java/it/openutils/hibernate/test/model/Title.java svneol=native#text/plain
src/test/resources/hibernate.cfg.xml svneol=native#text/plain
src/test/resources/log4j.xml svneol=native#text/plain
src/test/resources/preload-data.sql svneol=native#text/plain
src/test/resources/spring-tests.xml svneol=native#text/plain
