* text=auto !eol
src/main/assembly/assembly-bundle.xml svneol=native#text/plain
src/main/bundle/LICENSE.txt svneol=native#text/plain
src/main/bundle/README.txt svneol=native#text/plain
src/main/etc/header.txt svneol=native#text/plain
src/site/apt/configuration.apt svneol=native#text/plain
src/site/apt/index.apt svneol=native#text/plain
src/site/changes/changes.xml svneol=native#text/plain
src/test/java/it/openutils/hibernate/test/HibernateDAOTest.java svneol=native#text/plain
src/test/java/it/openutils/hibernate/test/dao/PersonDAO.java svneol=native#text/plain
src/test/java/it/openutils/hibernate/test/model/Address.java svneol=native#text/plain
src/test/java/it/openutils/hibernate/test/model/Chance.java svneol=native#text/plain
src/test/java/it/openutils/hibernate/test/model/FantasticThing.java svneol=native#text/plain
src/test/java/it/openutils/hibernate/test/model/FullName.java svneol=native#text/plain
src/test/java/it/openutils/hibernate/test/model/Person.java svneol=native#text/plain
src/test/java/it/openutils/hibernate/test/model/Title.java svneol=native#text/plain
src/test/java/it/openutils/hibernate/test/model/Wish.java svneol=native#text/plain
src/test/resources/hibernate.cfg.xml svneol=native#text/plain
src/test/resources/spring-tests.xml svneol=native#text/plain
